In [1]:
#Reading data
import numpy as np
import pandas as pd

In [2]:
def makeFloats(data):
  for i in range(len(data["Keskmine"])):
    a=data.iloc[i,9]
    if type(a)==str:
      a=a.replace(",",".")
      a=float(a)
      data.iat[i,9]=a

In [3]:
def average(dictionary):
    summary = sum(dictionary.values())
    result = 0
    for i in dictionary:
        result += ((dictionary.get(i)/summary)*i)
    return result,summary

In [4]:
def find1(data,myset):
  uusData = pd.DataFrame(columns = ['Aasta', 'Test', 'Kooli tüüp', 'Õppekeel', 'Maakond',
       'Õppeasutus', 'Sooritajaid', 'Keskmine'])
  i=0
  result=0
  for i in range(len(data)):
    ajutine=data.iloc[i,6]
    if(not(ajutine in myset)):
      myset.append(ajutine)
      dic={}
      for x in range(len(data)):
        if(ajutine==data.iloc[x,6]):
          a=data.iloc[x,9]
          dic[a] = data.iloc[x,8]
      avr = average(dic)
      new_row = {"Aasta":data.iloc[i,0], 'Test':data.iloc[i,1], 'Kooli tüüp':data.iloc[i,3], 'Õppekeel':data.iloc[i,4], 'Maakond':data.iloc[i,5],
       'Õppeasutus':data.iloc[i,6], 'Sooritajaid':avr[1], 'Keskmine':avr[0]}
      uusData=uusData.append(new_row,ignore_index=True)
      #uusData.loc[-1] = [2, 3, 4]
      result+=1
  return uusData

In [5]:
def findMaakond(data,myset):
  uusData = pd.DataFrame(columns = ['Aasta', 'Test', 'Kooli tüüp', 'Õppekeel', 'Maakond',
       'Õppeasutus', 'Sooritajaid', 'Keskmine'])
  i=0
  result=0
  for i in range(len(data)):
    ajutine=data.iloc[i,4]
    if(not(ajutine in myset)):
      myset.append(ajutine)
      dic={}
      for x in range(len(data)):
        if(ajutine==data.iloc[x,4]):
          a=data.iloc[x,7]
          dic[a] = data.iloc[x,6]
      avr = average(dic)
      new_row = {"Aasta":data.iloc[i,0], 'Test':data.iloc[i,1], 'Kooli tüüp':data.iloc[i,2], 'Õppekeel':data.iloc[i,3], 'Maakond':data.iloc[i,4],
       'Õppeasutus':data.iloc[i,5], 'Sooritajaid':avr[1], 'Keskmine':avr[0]}
      uusData=uusData.append(new_row,ignore_index=True)
      #uusData.loc[-1] = [2, 3, 4]
      result+=1
  return uusData

In [6]:
Est2018 = pd.read_csv("Estonian-2018.csv",sep= ";")
Est2018 = Est2018.drop('AUP', axis=1)
Est2018 = Est2018.drop('ÜUP', axis=1)
Est2018 = Est2018.drop("Testi ID",axis=1)
Est2018 = Est2018.drop("Soorituskeel",axis=1)
Est2018 = Est2018.drop("Max võimalik pallide arv",axis=1)
Est2018 = Est2018.drop(Est2018.columns[10:],axis=1)
print(Est2018.columns)
makeFloats(Est2018)
resultEst2018 = find1(Est2018,[])

Index(['Aasta', 'Test', 'Sugu', 'Kooli tüüp', 'Õppekeel', 'Maakond',
       'Õppeasutus', 'Õppevorm', 'Sooritajaid', 'Keskmine'],
      dtype='object')

In [7]:
Est2019 = pd.read_csv("Estonian-2019.csv",sep= ";")
Est2019 = Est2019.drop('AUP', axis=1)
Est2019 = Est2019.drop('ÜUP', axis=1)
Est2019 = Est2019.drop("Testi ID",axis=1)
Est2019 = Est2019.drop("Soorituskeel",axis=1)
Est2019 = Est2019.drop("Max võimalik pallide arv",axis=1)
Est2019 = Est2019.drop(Est2019.columns[10:],axis=1)

makeFloats(Est2019)
resultEst2019 = find1(Est2019,[])

In [8]:
Est2020 = pd.read_csv("Estonian-2020.csv",sep= ";")
Est2020 = Est2020.drop('AUP', axis=1)
Est2020 = Est2020.drop('ÜUP', axis=1)
Est2020 = Est2020.drop("Testi ID",axis=1)
Est2020 = Est2020.drop("Soorituskeel",axis=1)
Est2020 = Est2020.drop("Max võimalik pallide arv",axis=1)
Est2020 = Est2020.drop(Est2020.columns[10:],axis=1)

makeFloats(Est2020)
resultEst2020 = find1(Est2020,[])

In [9]:
Math2018A = pd.read_csv("Math-advanced-2018.csv",sep= ";")
Math2018A = Math2018A.drop('AUP', axis=1)
Math2018A = Math2018A.drop('ÜUP', axis=1)
Math2018A = Math2018A.drop("Testi ID",axis=1)
Math2018A = Math2018A.drop("Soorituskeel",axis=1)
Math2018A = Math2018A.drop("Max võimalik pallide arv",axis=1)
Math2018A = Math2018A.drop(Math2018A.columns[10:],axis=1)

makeFloats(Math2018A)
resultMath2018A = find1(Math2018A,[])

In [10]:
Math2019A = pd.read_csv("Math-advanced-2019.csv",sep= ";")
Math2019A = Math2019A.drop('AUP', axis=1)
Math2019A = Math2019A.drop('ÜUP', axis=1)
Math2019A = Math2019A.drop("Testi ID",axis=1)
Math2019A = Math2019A.drop("Soorituskeel",axis=1)
Math2019A = Math2019A.drop("Max võimalik pallide arv",axis=1)
Math2019A = Math2019A.drop(Math2019A.columns[10:],axis=1)

makeFloats(Math2019A)
resultMath2019A = find1(Math2019A,[])

In [11]:
Math2020A = pd.read_csv("Math-advanced-2020.csv",sep= ";")
Math2020A = Math2020A.drop('AUP', axis=1)
Math2020A = Math2020A.drop('ÜUP', axis=1)
Math2020A = Math2020A.drop("Testi ID",axis=1)
Math2020A = Math2020A.drop("Soorituskeel",axis=1)
Math2020A = Math2020A.drop("Max võimalik pallide arv",axis=1)
Math2020A = Math2020A.drop(Math2020A.columns[10:],axis=1)

makeFloats(Math2020A)
resultMath2020A = find1(Math2020A,[])

In [12]:
Math2018 = pd.read_csv("Math-simple-2018.csv",sep= ";")
Math2018 = Math2018.drop('AUP', axis=1)
Math2018 = Math2018.drop('ÜUP', axis=1)
Math2018 = Math2018.drop("Testi ID",axis=1)
Math2018 = Math2018.drop("Soorituskeel",axis=1)
Math2018 = Math2018.drop("Max võimalik pallide arv",axis=1)
Math2018 = Math2018.drop(Math2018.columns[10:],axis=1)

makeFloats(Math2018)
resultMath2018 = find1(Math2018,[])

In [13]:
Math2019 = pd.read_csv("Math-simple-2019.csv",sep= ";")
Math2019 = Math2019.drop('AUP', axis=1)
Math2019 = Math2019.drop('ÜUP', axis=1)
Math2019 = Math2019.drop("Testi ID",axis=1)
Math2019 = Math2019.drop("Soorituskeel",axis=1)
Math2019 = Math2019.drop("Max võimalik pallide arv",axis=1)
Math2019 = Math2019.drop(Math2019.columns[10:],axis=1)

makeFloats(Math2019)
resultMath2019 = find1(Math2019,[])

In [14]:
Math2020 = pd.read_csv("Math-simple-2020.csv",sep= ";")
Math2020 = Math2020.drop('AUP', axis=1)
Math2020 = Math2020.drop('ÜUP', axis=1)
Math2020 = Math2020.drop("Testi ID",axis=1)
Math2020 = Math2020.drop("Soorituskeel",axis=1)
Math2020 = Math2020.drop("Max võimalik pallide arv",axis=1)
Math2020 = Math2020.drop(Math2020.columns[10:],axis=1)

makeFloats(Math2020)
resultMath2020 = find1(Math2020,[])

In [15]:
   Parimad_Est2018 = resultEst2018.sort_values(by="Keskmine",ascending=False).head(10)
Parimad_Est2018.index = np.arange(1, len(Parimad_Est2018) + 1)
print(Parimad_Est2018[["Õppeasutus","Keskmine"]])

                             Õppeasutus   Keskmine
1                    Tallinna Reaalkool  81.549091
2             Hugo Treffneri Gümnaasium  81.393143
3      G. Otsa nim Tallinna Muusikakool  80.200000
4              Gustav Adolfi Gümnaasium  78.321277
5              Tallinna Inglise Kolledž  78.248148
6            Tallinna Prantsuse Lütseum  78.247619
7   Pärnu Sütevaka Humanitaargümnaasium  77.338095
8                Miina Härma Gümnaasium  75.472727
9           Tartu Jaan Poska Gümnaasium  73.301351
10          Vanalinna Hariduskolleegium  73.264948

In [16]:
Parimad_Est2019 = resultEst2019.sort_values(by="Keskmine",ascending=False).head(10)
Parimad_Est2019.index = np.arange(1, len(Parimad_Est2019) + 1)
print(Parimad_Est2019[["Õppeasutus","Keskmine"]])

                             Õppeasutus   Keskmine
1             Hugo Treffneri Gümnaasium  83.533149
2   Pärnu Sütevaka Humanitaargümnaasium  83.010345
3            Tallinna Prantsuse Lütseum  82.056140
4                    Tallinna Reaalkool  80.537500
5              Gustav Adolfi Gümnaasium  78.939286
6           Vanalinna Hariduskolleegium  75.680000
7                  Jõgevamaa Gümnaasium  74.919672
8               Saaremaa Ühisgümnaasium  74.908772
9           Tartu Jaan Poska Gümnaasium  74.156906
10                  Nõo Reaalgümnaasium  72.673333

In [17]:
Parimad_Est2020 = resultEst2020.sort_values(by="Keskmine",ascending=False).head(10)
Parimad_Est2020.index = np.arange(1, len(Parimad_Est2020) + 1)
print(Parimad_Est2020[["Õppeasutus","Keskmine"]])

                             Õppeasutus   Keskmine
1                    Tallinna Reaalkool  82.362963
2            Tallinna Prantsuse Lütseum  82.046154
3             Hugo Treffneri Gümnaasium  81.065909
4              Gustav Adolfi Gümnaasium  77.947015
5                      Kehra Gümnaasium  76.000000
6                     Tallinna 21. Kool  75.965421
7              Tallinna Inglise Kolledž  75.716129
8   Pärnu Sütevaka Humanitaargümnaasium  72.580645
9                    Rocca al Mare Kool  72.219737
10          Vanalinna Hariduskolleegium  71.378761

In [18]:
Parimad_Math2018A = resultMath2018A.sort_values(by="Keskmine",ascending=False).head(10)
Parimad_Math2018A.index = np.arange(1, len(Parimad_Math2018A) + 1)
print(Parimad_Math2018A[["Õppeasutus","Keskmine"]])

                             Õppeasutus   Keskmine
1                   Narva Keeltelütseum  93.150000
2    Tallinna Kesklinna Vene Gümnaasium  88.600000
3   Pärnu Sütevaka Humanitaargümnaasium  87.800000
4              Tallinna Inglise Kolledž  86.769231
5                    Tallinna Reaalkool  86.687500
6                       Saue Gümnaasium  83.300000
7            Narva Kesklinna Gümnaasium  81.700000
8              Gustav Adolfi Gümnaasium  81.685263
9           Narva Kreenholmi Gümnaasium  81.500000
10                 Sakala Eragümnaasium  80.300000

In [19]:
Parimad_Math2019A = resultMath2019A.sort_values(by="Keskmine",ascending=False).head(10)
Parimad_Math2019A.index = np.arange(1, len(Parimad_Math2019A) + 1)
print(Parimad_Math2019A[["Õppeasutus","Keskmine"]])

                            Õppeasutus   Keskmine
1                  Narva Keeltelütseum  86.469565
2             Tallinna Inglise Kolledž  85.800000
3                   Tallinna Reaalkool  83.322115
4            Hugo Treffneri Gümnaasium  82.513966
5             Gustav Adolfi Gümnaasium  77.123214
6                     Kuusalu Keskkool  76.769231
7                  Tallinna Juudi Kool  76.300000
8           Tallinna Prantsuse Lütseum  75.957143
9   Tallinna Kesklinna Vene Gümnaasium  75.364286
10            Vinni-Pajusti Gümnaasium  72.400000

In [20]:
Parimad_Math2020A = resultMath2020A.sort_values(by="Keskmine",ascending=False).head(10)
Parimad_Math2020A.index = np.arange(1, len(Parimad_Math2020A) + 1)
print(Parimad_Math2020A[["Õppeasutus","Keskmine"]])

                             Õppeasutus   Keskmine
1                  Sakala Eragümnaasium  86.100000
2                    Tallinna Reaalkool  85.788889
3   Pärnu Sütevaka Humanitaargümnaasium  80.200000
4              Tallinna Inglise Kolledž  79.000000
5                   Narva Keeltelütseum  77.882353
6                        EBS Gümnaasium  77.753846
7            Tallinna Prantsuse Lütseum  75.121622
8                  Jõgevamaa Gümnaasium  74.455172
9             Hugo Treffneri Gümnaasium  72.957714
10             Gustav Adolfi Gümnaasium  72.114286

In [21]:
Parimad_Math2018 = resultMath2018.sort_values(by="Keskmine",ascending=False).head(10)
Parimad_Math2018.index = np.arange(1, len(Parimad_Math2018) + 1)
print(Parimad_Math2018[["Õppeasutus","Keskmine"]])

                             Õppeasutus   Keskmine
1              Tallinna Inglise Kolledž  87.100000
2                  Sakala Eragümnaasium  86.400000
3                   Narva Keeltelütseum  80.400000
4                       Saue Gümnaasium  76.200000
5   Pärnu Sütevaka Humanitaargümnaasium  75.936538
6              Pärnu Koidula Gümnaasium  75.800000
7              Gustav Adolfi Gümnaasium  74.269565
8             Narva Vanalinna Riigikool  72.785714
9            Tallinna Prantsuse Lütseum  72.422727
10              Saaremaa Ühisgümnaasium  71.500000

In [22]:
Parimad_Math2019 = resultMath2019.sort_values(by="Keskmine",ascending=False).head(10)
Parimad_Math2019.index = np.arange(1, len(Parimad_Math2019) + 1)
print(Parimad_Math2019[["Õppeasutus","Keskmine"]])

                             Õppeasutus   Keskmine
1              Tallinna Inglise Kolledž  85.600000
2                   Narva Keeltelütseum  84.572727
3              Gustav Adolfi Gümnaasium  79.503704
4   Pärnu Sütevaka Humanitaargümnaasium  77.148718
5              Pärnu Koidula Gümnaasium  71.800000
6            Tallinna Prantsuse Lütseum  71.327273
7                        EBS Gümnaasium  70.655000
8           Tartu Jaan Poska Gümnaasium  70.202000
9    Tallinna Kesklinna Vene Gümnaasium  67.805882
10        Tallinna Humanitaargümnaasium  65.276471

In [23]:
Parimad_Math2020 = resultMath2020.sort_values(by="Keskmine",ascending=False).head(10)
Parimad_Math2020.index = np.arange(1, len(Parimad_Math2020) + 1)
print(Parimad_Math2020[["Õppeasutus","Keskmine"]])

                             Õppeasutus   Keskmine
1              Tallinna Inglise Kolledž  81.066667
2                   Narva Keeltelütseum  79.385714
3   Pärnu Sütevaka Humanitaargümnaasium  73.471739
4              Gustav Adolfi Gümnaasium  73.400000
5                       Saue Gümnaasium  70.200000
6            Tallinna Prantsuse Lütseum  67.100000
7         Tallinna Humanitaargümnaasium  66.400000
8                  Sakala Eragümnaasium  64.200000
9                      Kuusalu Keskkool  64.100000
10             Pärnu Koidula Gümnaasium  62.800000

In [24]:
parimadMaakonnad2018 = findMaakond(resultEst2019,[])
parimadMaakonnad2018 = parimadMaakonnad2018.sort_values(by="Keskmine",ascending=False).head(10)
parimadMaakonnad2018.index = np.arange(1, len(parimadMaakonnad2018) + 1)
print(parimadMaakonnad2018[["Maakond","Keskmine"]])

               Maakond   Keskmine
1        Tartu maakond  67.383761
2       Jõgeva maakond  65.151829
3        Saare maakond  64.886170
4        Pärnu maakond  63.957058
5        Harju maakond  62.273473
6         Hiiu maakond  61.572727
7     Viljandi maakond  61.136364
8        Rapla maakond  60.501744
9   Lääne-Viru maakond  60.344785
10       Põlva maakond  58.717391